/* styles.css */

body {
  background-color: #121212;
  color: #66ff66;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

.header {
  background-color: #393939;
  color: #66ff66;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#app {
  text-align: center;
  padding-top: 60px; /* Adjusted padding to account for the header height */
  width: 100%;
}

.task-list-container {
  display: flex;
  flex-direction: column; /* Updated to column layout */
  align-items: center; /* Center the categories */
}

.category-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the categories within the maximum width */
  margin-top: 90px; /* Add margin to separate the category container from the tasks */
}

.category-column {
  width: 200px;
  margin: 0 10px;
}

.category-header{
	width: 200px;
  background-color: #393939;
  color: #66ff66;
  padding: 5px;
  border-radius: 5px;
  min-width: 150px;
  text-align: center;
}

.todo-item {
  animation: fallFromTop 0.5s ease-out;
  margin-bottom: 10px;
}

@keyframes fallFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

li {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0; /* Adjusted margin to create space for the drag handle */
  background-color: #262626;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(102, 255, 102, 0.5);
}

input,
button {
  background-color: #393939;
  color: #66ff66;
  border: 1px solid #66ff66;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 3px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #66ff66;
  color: #121212;
}

.drag-handle {
  margin-right: 10px; /* Adjusted margin to create space between drag handle and task text */
  color: #66ff66;
  cursor: move;
}

